# Gemini API Configuration
GEMINI_API_KEY=api_key_goes_here

# Gemini Settings
GEMINI_MODEL=gemini-2.5-flash
GEMINI_TEMPERATURE=0.1          # Creativity of the response
GEMINI_TOP_P=0.1                # Variation of vocabulary
GEMINI_TOP_K=10                 # Output predictability 
GEMINI_MAX_TOKENS=8192          # Response size

# Ollama Settings
OLLAMA_BASE_URL="http://localhost:11434"
OLLAMA_MODEL="llama3.2"