# Gemini API Configuration
GEMINI_API_KEY=api_key_goes_here

# Model Settings
GEMINI_MODEL=gemini-2.5-flash
GEMINI_TEMPERATURE=0.3          # Creativity of the responce
GEMINI_TOP_P=0.3                # Variation of vocabulary
GEMINI_TOP_K=20                 # Output predictability 
GEMINI_MAX_TOKENS=512           # Response size